;
; Stub BIND data file for <TMPL_VAR DOMAIN>. Modify as needed.
;

$ORIGIN .
$TTL 28800	; 8 hours
<TMPL_VAR DOMAIN>		IN SOA	ns1.<TMPL_VAR DOMAIN>. root.<TMPL_VAR DOMAIN>. (
				2          ; serial
				14400      ; refresh (4 hours)
				3600       ; retry (1 hour)
				2419200    ; expire (4 weeks)
				0          ; minimum (no caching)
				)
			NS	ns1.<TMPL_VAR DOMAIN>.
			NS	ns2.<TMPL_VAR DOMAIN>.
			MX	0 <TMPL_VAR DOMAIN>.
			A	; configure here
$ORIGIN <TMPL_VAR DOMAIN>.
ns1			A	; configure here
ns2			A	; configure here
